.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.flex-1 {
  flex: 1 1 0%
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.bg-screen {
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity))
}

.p-6 {
  padding: 1.5rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-screen-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(11 15 19 / var(--tw-bg-opacity))
  }
}
